#nav-text {
    margin-left: 27%;
}

#All {
    margin-left: 43%;
}
#navbar {
    display: flex;
}

#navbar a {
    color: #000;
    font-size: var(--p-font);
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
}

#navbar a:hover {
    background: var(--bg-color);
    color: var(--text-color);
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 4px;
}

.card {
    border: 2px solid gray;
    background-color: white;
    width: 58%;
    height: 220px;
    border-radius: 5px;
    float: left;
    margin: 38px;
    margin-right: 55px;
    
}
#slider{
    margin-top: 134px;
}
#dest-content{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 23px;
}

#ffooter{
    margin-top: 190px;
}
title {
    text-align: center;
}

.title h2 {
    font-size: var(--h2-font);
    line-height: 1.2;
}

.card-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
}

.thum {
    position: relative;
    transition: all .3s cubic-bezier(.455, .05, .55, .95);
    will-change: filter;
    cursor: pointer;
}

.thum img {
    width: 100%;
    height: auto;
}

.thum .about-img {
    width: 100%;
    height: 30%;
}

.thum:hover {
    transform: scale(1.07);
}

.thum h3 {
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    text-align: right;
    color: red;
    top: 36px;
    right: 40px;
}

.dest-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
}

.stars i {
    color: var(--main-color);
    font-size: 20px;}